.avatar {
    width: 60px;
    height: 60px;
}

.avatar-2 {
    width: 40px;
    height: 40px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.description-summary {
    display: block;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main {
    margin: 30px;
    background: white;
}

.menu {
    margin: 0;
}

.menu .icon {
    color: #999;
    margin-top: 10px;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}


.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.replier {
    margin-top: 12px;
}

.sub-comments {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 30px;
}